<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/widget/home-meta/meta.html?__inline">
    <link rel="stylesheet" href="/site/home/newslist/newslist.less">
    <link rel="stylesheet" href="/site/home/content/content.less">
    <title>
        <%= news.title%>
    </title>
    <meta name="Keywords" content="<%= news.tags%>" />
    <meta name="Description" content="<%= news.brief%>" />
</head>

<body>
    <div class="main">
        <link rel="import" href="/widget/home-header/header.html?__inline">
        <div class="newslist">
            <div class="left">
                <h1 class="h1title"><%= news.title%></h1>
                <div class="gap">
                    <%= formatTime(news.createtime)%>
                        <div class="bdsharebuttonbox">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        </div>
                        <script>
                            window._bd_share_config = {
                                "common": {
                                    "bdSnsKey": {},
                                    "bdText": "",
                                    "bdMini": "2",
                                    "bdPic": "",
                                    "bdStyle": "0",
                                    "bdSize": "16"
                                },
                                "share": {}
                            };
                            with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                        </script>
                </div>
                <div class="cont">
                    <%- news.content%>
                </div>
                <div class="cmttitle">最新评论</div>
                <ul class="cmtlist">
                
                </ul>
                <div class="form" style="padding:0 0 50px 0;">
                    <div style="padding:0;">
                        <textarea name="content" id="cmtcontent" rows="5" cols="40" placeholder="来说两句吧"></textarea>
                    </div>
                    <div style="text-align:right;">
                        <input type="submit" value="提交" class="btn btn-info">
                    </div>
                </div>
            </div>
            <div class="right">
                <%- paiming%>
            </div>
            <div style="clear:both;"></div>
        </div>
        <link rel="import" href="/widget/home-footer/footer.html?__inline">
    </div>
    <script type="text/javascript">
       var comment = require("home/content/comment");
       cmt = new comment(<%= news.id%>);
       cmt.list(1);
       cmt.create();
    </script>
</body>

</html>
